@font-face {
  font-family: digital;
  src: url(./src/fonts/digital-7.ttf);
}

* {
  font-family: "digital";
  margin: 0px;
  padding: 0px;
}

html {
  width: 100vw;
  height: 100vh;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #a1caba;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.main {
  min-height: 650px;
  width: 25%;
  border-radius: 10px;
  background-color: white;
}

.main-top {
  background-color: #f4fdfc;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 10px;
}

#close-buttons button {
  padding: 5px;
  font-size: 15px;
  margin-top: 5px;
  border: none;
  background-color: transparent;
  transition: all 300ms;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
.close {
  background-color: rgb(255, 83, 83) !important;
  margin-left: 10px;
}

.close:hover {
  background-color: rgb(255, 0, 0) !important;
  color: white;
}

.minimize {
  background-color: #f0c668 !important;
  color: black;
}

.minimize:hover {
  color: white;
}
.expand {
  background-color: #2dc934 !important;
  color: black;
}

.expand:hover {
  color: white;
}

label {
  position: relative;
  margin-right: 10px;
  margin-top: 5px;
  border: 1px solid black;
  width: 60px;
  height: 20px;
  border-radius: 75px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

label input {
  appearance: none;
}

label span {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background: url(./src/img/eclipse.png);
  background-size: auto 20px;
  background-repeat: no-repeat;
  transition: 0.5s;
}

label input:checked ~ span {
  left: 40px;
}

.output {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  align-content: center;
  background-color: #f4fdfc;
  padding-right: 25px;
  word-break: break-word;
}

.previous-operand {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: center;
  font-size: 35px;
}

.current-operand {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: center;
  font-size: 60px;
  /* margin-bottom: 10px; */
}

.numbers {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 75%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 1px solid #ccc;
}

.rows {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 100px;
}

.rows button {
  width: 13%;
  height: 65%;
  font-size: 40px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 300ms;
  display: block;
}

.rows button:hover {
  transform: scale(1.2);
}

.logs {
  margin-right: 10px;
  height: 60%;
  min-width: 200px;
  border-radius: 10px;
  font-size: 20px;
  padding: 5px;
  background-color: white;
  display: none;
}

.logs_windows {
  list-style: none;
}

li {
  padding-top: 5px;
  margin-top: 5px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  cursor: pointer;
}

.logs {
  margin-right: 10px;
  height: 60%;
  min-width: 200px;
  border-radius: 10px;
  font-size: 20px;
  padding: 5px;
  background-color: white;
  display: none;
}

.logs_windows {
  list-style: none;
}

.clear_button {
  width: 100%;
}

.clear_button button {
  width: 100%;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  border: 2px solid black;
  background-color: white;
  cursor: pointer;
}

.clear_button button:hover {
  background-color: rgb(226, 226, 226);
}


@media screen and (max-width:434px){
  .main{
    width: 90vw;
    height: 90vh;
  }
  #close-buttons{
    visibility: hidden;
  }

  .main-top{
    margin-top: 10px;
  }
  label{
    width: 80px;
    height: 40px;
  }
  label span{
    width: 40px;
  height: 40px;
  background-size: auto 40px;
  }

  .output {
    min-height: 200px;
    
  }
}